registry=http://rea-sonatype-nexus.services.delivery.realestate.com.au/nexus/content/repositories/rea-npm-all/
@construct-kit:registry=http://rea-sonatype-nexus.services.delivery.realestate.com.au/nexus/content/repositories/construct-kit-npm/
